
.body-section {
    margin: auto;
    width: 90%;
    background-color: #F5F5F5;
}

h1 {
    background-color: black;
    border-radius: 5px;
}

.card-section{
    padding: 15px;
}

.card1 {
    background-color: white;
    height: 200px;
}

.card2 {
    background-color: white;
    height: 200px;
}

.card3 {
    background-color: white;
    height: 200px;
}


.cardImage1 {
    border: 1px solid black;
    width: 40%;
    height: 200px;
    float: left;
}

.cardImage2 {
    border: 1px solid black;
    float: left;
    width: 40%;
    height: 200px;
}

.cardImage3 {
    border: 1px solid black;
    width: 40%;
    height: 200px;
    float: left;
}

.card-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #F85B1A;
    text-align: center;
    padding: 10px;
    float: right;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}

.card-button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

